# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

#Clion
CMakeLists.txt
.idea/
cmake-build-debug

#Eclipse
.metadata/

#VSCode
.vscode

# Log files
*.log
.DS_Store
headers/.DS_Store
